h1{ 
   color: black;
}

p,h1,h2,h3{
    text-align: center;
}

.camel{
    background-color: khaki;
    display:flex;
    justify-content: center;
}

.pigeon{
    background-color: turquoise;
    display:flex;
    justify-content: center;
}

.teddy{
    background-color: coral;
    display:flex;
    justify-content: center;
}

.chameleon{
    background-color: gold;
    display:flex;
    justify-content: center;
}